{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}

<h2 class="d-flex justify-content-center mb-5">Nous contacter</h2>
    <p class="mb-5"><b>N'hésiter pas à prendre contact avec notre équipe, nous vous répondrons dasn les meilleurs délais.</b></p>

     {% for message in app.flashes('notice') %}
            <div class="alert alert-info"> {{ message }} </div>
        {% endfor %}
    <div class ="row" id="contact">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>Le coin Pop</strong>
            <small>Le lieu de tous les passionnés.</small>
            <hr>
            contact@lecoinpop.fr<br>
            
        </div>
    </div>

{% endblock %}
